   <div class="hf_login">  
        <div class="hf_title_container row">
            <div class="hf_title_container_c01 col-md-6">
                <div class="hf_logo">
                   <!-- <img src="assets/images/hf.png" alt=""> -->
                </div>
            </div>
           
            <div class="hf_login_container col-md-6">
                <!-- <div class="hf_login_container_child"> -->
                <div *ngIf="logIn" class="hf_login_container_c01">
                    <input type="text" [(ngModel)]="logInId" placeholder="Email@address.com"><br>
                    <input type="text" type="password" [(ngModel)]="logInPassword" placeholder="Password">    
                    <button type="button" class="btn btn-success" (click) = "logIn()">CONNECT</button>  
                    <p><span style="float:right">Forgot your password ?</span></p>                    
                </div>
            </div>
        </div>
    </div> 
   
  