   <div class="hf_login">  
    <div class="hf_title_container">
            <div class="hf_title_container_c01">
                <div class="hf_logo">
                    HEART FELT
                </div>
            </div>
           
            <div class="hf_login_container">
                <!-- <div class="hf_login_container_child"> -->
                <div *ngIf="logIn" class="hf_login_container_c01">
                    <input type="text" [(ngModel)]="logInId" placeholder="Email@address.com"><br>
                    <input type="text" [(ngModel)]="logInPassword" placeholder="Password">    
                    <button type="button" class="btn btn-success" (click) = "logIn()">CONNECT</button>  
                    <p><span style="float:right">Forgot your password ?</span></p>                    
                </div>

                <!-- <form #createAccountForm="ngForm">
                    <div class="form-group">
                        <div *ngIf="!logIn" class="hf_login_container_c01 hf_login_container_c02">
                            <input type="text" id="firstName" name="firstName" [ngClass]="firstName.touched && firstName.invalid || firstName.value == '' ? 'has_error' : ''" class="form-control"  required  [(ngModel)]="crtnew.firstName" #firstName="ngModel" placeholder="First Name">
                                <div *ngIf="(firstName.invalid && (firstName.dirty || firstName.touched))" class="errorMessage">
                                    <div *ngIf="firstName.errors.required"> First Name is required.</div>
                                </div>
                            <input type="text" name="lastName" placeholder="Last Name">                              
                            <input type="text" name="phone" [ngClass]="phone.touched && phone.invalid || phone.value == '' ? 'has_error' : ''" class="form-control"  required pattern="[0-9]+"  [(ngModel)]="crtnew.phone" #phone="ngModel" placeholder="Phone">
                                <div *ngIf="(phone.invalid && (phone.dirty || phone.touched))" class="errorMessage">
                                    <div *ngIf="phone.errors.required"> Phone number is required.</div>
                                    <div *ngIf="phone.errors.pattern"> Only numbers are allowed.</div>
                                </div>
                            <input type="text" name="email" [ngClass]="email.touched && email.invalid || email.value == '' ? 'has_error' : ''" class="form-control"  required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"  [(ngModel)]="crtnew.email" #email="ngModel" placeholder="Email@mail.com">
                                <div *ngIf="(email.invalid && (email.dirty || email.touched))" class="errorMessage">
                                    <div *ngIf="email.errors.required"> Email number is required.</div>
                                    <div *ngIf="email.errors.pattern"> Email should be in Email@mail.com formate.</div>
                                </div>
                            <input type="text"  name="password" [ngClass]="password.touched && password.invalid || password.value == '' ? 'has_error' : ''" class="form-control passwordCreate"  required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"  [(ngModel)]="crtnew.password" #password="ngModel"  placeholder="Password">
                            <div class="passwordRequirment">Password should contain at least one number, one lowercase and one uppercase letter and at least six characters.</div>                            
                                <div *ngIf="(password.invalid && (password.dirty || password.touched))" class="errorMessage">
                                    <div *ngIf="password.errors.required"> Password is required.</div>
                                    <div *ngIf="password.errors.pattern"> Your Password doesnt meet requirments.</div>
                                </div>
                            <input *ngIf="crtPassword" name="confirmPassword" type="text" placeholder="Confirm Password">
                            <button type="button" class="btn btn-success" >CONNECT</button>  
                            
                        </div>  
                    </div>
                 </form>  -->
            </div>
        </div>
    </div> 
   
  