
<div class="popup_close" (click)="onNoClick()">
    <i class="fa fa-circle fa-2x" aria-hidden="true"></i>
    <i class="fa fa-times" aria-hidden="true"></i>
 </div>
<div class="contact_edit">

    <h1 *ngIf="empDetails.empId" [innerText]="empDetails.empId | uppercase"></h1>
    <h1 *ngIf="!empDetails.empId">ADD CONTACT</h1>
    <div class="contact_edit_body">
      
       <mat-form-field  *ngIf="!empDetails.empId" color="accent">
          <input matInput placeholder="Employee Id" [formControl]="empId" required>
          <mat-error *ngIf="empId.hasError('required')">
             This field is required
          </mat-error>
       </mat-form-field>
       <mat-form-field  color="accent">
          <input matInput placeholder="First Name" [formControl]="firstName" required>
          <mat-error *ngIf="firstName.hasError('required')">
             This field is required
          </mat-error>
       </mat-form-field>
       <mat-form-field  color="accent">
          <input matInput placeholder="Last Name" [formControl]="lastName">
       </mat-form-field>
       <mat-form-field  color="accent">
          <input matInput placeholder="Phone Number" [formControl]="phone" required>
          <mat-error *ngIf="phone.hasError('required')">
             This field is required
          </mat-error>
       </mat-form-field>
       <mat-form-field  color="accent">
          <input matInput placeholder="email" [formControl]="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required>
          <mat-error *ngIf="email.hasError('required')">
             This field is required
          </mat-error>
          <mat-error *ngIf="email.hasError('pattern')">
             Please enter a valid email address
          </mat-error>
       </mat-form-field>
       <div class="contact_payment_type">
           <div> <b>Payment Type</b> </div>
           <div>
                <mat-radio-group class="row">
                        <mat-radio-button value="online" class="col-sm-6">Online</mat-radio-button>
                        <mat-radio-button value="cash" class="col-sm-6">Cash</mat-radio-button>
                </mat-radio-group>
           </div>
       </div>
       <div class="make_admin">
            <mat-checkbox>Make Admin</mat-checkbox>
       </div>
       
    </div>
    <div class="contact_edit_footer dialog_footer" mat-dialog-actions>
       <button mat-button [mat-dialog-close]="crtnew" tabindex="2">Save</button>
       <button mat-button (click)="onNoClick()" tabindex="-1">Close</button>
    </div>
 </div>