/* Master Styles */
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/prebuilt-themes/purple-green.css';
@import url('../node_modules/ag-grid/dist/styles/ag-grid.css');
@import url('../node_modules/ag-grid/dist/styles/ag-theme-material.css');
html{
  height: 100%;  
}
body {
  background: rgb(11, 41, 63);
  color: #fff;
  height: 100%;
}

.popup_close{
position: absolute;
top:-11px;
right: 13px;
cursor: pointer;
}

.popup_close > .fa-circle{
  position: absolute;
  color: #0b293f;
}

.popup_close > .fa-times{
  position: absolute;
  color: #4bab7c;
  top: 6px;
  right: -17px;
}

.dialog_footer>button {
  color: rgb(75, 171, 124) !important;
  font-size: 18px;
  border: 1px solid;
  margin-right: 15px;
  line-height: 30px !important;
}





